{# templates/organize_script.j2 #}

#!/bin/bash

# Source directories
downloads=/home/$USER/{{ downloads_dir }}

# Folder definitions
pictures=/home/$USER/{{ pictures_dir }}/
documents=/home/$USER/{{ documents_dir }}/
videos=/home/$USER/{{ videos_dir }}/
music=/home/$USER/{{ music_dir }}/

sort_files () {

    # Move files to the designated folders by filetype
    find $downloads -regex '.*\.\(jpe?g\|jpg\|png\|tiff\|gif\)' | xargs -I '{}' mv {} $pictures
    find $downloads -regex '.*\.\(mp4\|mkv\)' | xargs -I '{}' mv {} $videos
    find $downloads -regex '.*\.\(mp3\|flac\)' | xargs -I '{}' mv {} $music
    find $downloads -regex '.*\.\(pdf\|txt\|doc\|docx\|odt\|ppt\|pptx\|xls\|xlsx\)' | xargs -I '{}' mv {} $documents
}

trap "echo Exited; exit;" SIGINT SIGTERM
while [[ 1=1 ]]
do
    watch --chgexit -n 1 "ls --all -l --recursive --full-time $downloads | sha256sum" && sort_files
    sleep 1
done